<% if @task.errors.any? %>
    <%= t('error.error1') %>
<% end %>
<%= form_for @task do |f| %>
    <div class="container">
      <table class="table table-bordered table table-hover">
        <thead >
        <tr class="active">
          <th><%= f.label :title, t('view.taskname') %></th>
          <th><%= f.label :line, t('view.line') %></th>
          <th><%= f.label :memo, t('view.note') %></th>
          <th><%= f.label :priority, t('view.priority') %></th>
          <th><%= f.label :status, t('view.statusId') %></th>
          <th><%= f.label :label1, t('view.labelId') + "1" %></th>
          <th><%= f.label :label2, t('view.labelId') + "2"%></th>
        </tr>
        </thead>
        <tbody> 
        <tr>
          <td><%= f.text_field :title %></td>
          <td><%= f.datetime_select :line, {use_month_numbers: true}, {class: "form-control bootstrap-date"} %></td>
          <td><%= f.text_field :memo %></td>
          <td><%= f.select :priority , [["高", "高"], ["中", "中"], ["低", "低"]] %></td>
          <td><%= f.select :status , [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %></td>
          <td><%= f.select :label1 ,[["null", nil],["work", "work"], ["life", "life"],["hobby", "hobby"], ["sports", "sports"],["study", "study"], ["music", "music"]]%></td>
          <td><%= f.select :label2 ,[["null", nil],["work", "work"], ["life", "life"],["hobby", "hobby"], ["sports", "sports"],["study", "study"], ["music", "music"]]%></td>
          <%= f.hidden_field :userId, :value => session[:id] %>
        </tr>
        </tbody>
        </tbody>
      </table>
    </div>
    </br>

    <%= f.submit 'DONE', class:"btn btn-success btn-sm active"%>
    <%= link_to 'BACK', tasks_path , class:"btn btn-info btn-sm active"%>
<% end %>

