<h1>EDIT</h1>
<% if flash[:notice] %>
<p><%= flash[:notice] %></p>
<% end %>
<%= form_for @task  do |f| %>
    <div class="container">
      <table class="table table-bordered table table-hover">
        <thead >
        <tr class="active">
          <th><%= f.label :title, t('view.taskname') %></th>
          <th><%= f.label :line, t('view.line') %></th>
          <th><%= f.label :memo, t('view.note') %></th>
          <th><%= f.label :priority, t('view.priority') %></th>
          <th><%= f.label :status, t('view.statusId') %></th>
          <th><%= f.label :label1, t('view.labelId') %></th>
          <th><%= f.label :label2, t('view.labelId') %></th>
        </tr>
        </thead>
        <tbody> 
        <tr>
          <td><%= f.text_field :title %></td>
          <td><%= f.datetime_select :line %></td>
          <td><%= f.text_field :memo %></td>
          <td><%= f.select :priority , [["高", "高"], ["中", "中"], ["低", "低"]] %></td>
          <td><%= f.select :status , [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %></td>
          <td><%= f.select :label1 ,[["work", "work"], ["life", "life"],["hobby", "hobby"], ["sports", "sports"],["study", "study"], ["music", "music"]]%></td>
          <td><%= f.select :label2 ,[["work", "work"], ["life", "life"],["hobby", "hobby"], ["sports", "sports"],["study", "study"], ["music", "music"]]%></td>
          <%= f.hidden_field :userId, :value => session[:id] %>
        </tr>
        </tbody>

        </tbody>
      </table>
    </div>
    </br>
    <%= f.submit 'DONE', class:"btn btn-success btn-sm active"%>
<% end %>
