<% provide(:title, "Task Manager") %>
	<h1>TASK LIST</h1>
	<% if flash[:noticeCreate] %>
	<p><%= flash[:noticeCreate] %></p>
	<% end %>
	<% if flash[:noticeEdit] %>
	<p><%= flash[:noticeEdit] %></p>
	<% end %>
	<% if flash[:noticeDelete] %>
	<p><%= flash[:noticeDelete] %></p>
	<% end %>
<h3>USER : <%=session[:username]%></h3></br>
<%= link_to "SIGN OUT",root_path(session: 'logout'),  class: "btn btn-danger btn-la active"%>

    <%if session[:userrole].=='admin'%>
<%= link_to "USER LIST",admin_users_url,  class: "btn btn-primary btn-la active"%>
    <%end%>
</br></br>
    <%= form_tag(tasks_path, method: :get) do %>
    TITLE is <%= text_field_tag :titleWord %>
    <%= submit_tag "SEARCH_TITLE" , :class => "btn btn-primary " %>
    STATUS is <%= select_tag :statusWord , options_for_select({"未着手" => "未着手","着手中" => "着手中", "完了" => "完了"}) %>
    <%= submit_tag "SEARCH_STATUS" , :class => "btn btn-primary " %>
    LABEL is <%= select_tag :labelWord , options_for_select({"null" =>"","work" => "work","life" => "life", "hobby" => "hobby", "sports" => "sports", "study" => "study", "music" => "music"}) %>
    <%= submit_tag "SEARCH_LABEL" , :class => "btn btn-primary " %></br></br>
    <%if params[:commit]=="ALL LIST"%>
    <%elsif !params[:commit].nil?%>
        <%= submit_tag "ALL LIST", :class => "btn btn-danger btn-la active" %>
    <%end%>
    <% end %>
    </br>
    <div class="container">
      <table class="table table-bordered table table-hover">
        <thead >
        <tr class="active">
          <th><%= t('view.taskname') %></th>
          <th><%= t('view.statusId') %></th>
          <th><%= t('view.priority') %></th>
          <th><%= t('view.line') %></th>
          <th><%= t('view.labelId')+"1" %></th>
          <th><%= t('view.labelId')+"2" %></th>
          <th></th>
        </tr>
        </thead>
        <tbody>
       <% @tasks.each do |task| %>
            <tr>
              <td><%= task.title %></td>
              <td><%= task.status %></td>
              <td><%= task.priority %></td>
              <td><%= task.line.strftime('%Y年%m月%d日 %H:%M') %></td>
              <td><%= task.label1 %></td>
              <td><%= task.label2 %></td>
              <td><%= link_to "DETAIL", task_path(id: task.id), class:"btn btn-info btn-sm active"%>
            </tr>
	<% end %>
        </tbody>
      </table>
    </div>
<%= link_to "CREATE", tasks_path(create: "cr") , class:"btn btn-success btn-sm active" %>
<%if params[:create]=="cr"%>
    <%= render partial: 'new', task: @task = Task.new %>
<%end%>
</br>
</br>
    <%= link_to "SORT BY DEAD LINE",tasks_path(sort: 'line') , class:"btn btn-primary btn-sm active" %>
    <%= link_to "SORT BY CREATED AT DESC",tasks_path(sort: 'created_at DESC') , class:"btn btn-primary btn-sm active"  %>
    <%= link_to "SORT BY PRIORITY",tasks_path(sort: 'priority') , class:"btn btn-primary btn-sm active" %>
    <br /><%= paginate @tasks %>
