<% provide(:title, "Task Manager") %>
	<h1>TOP</h1>
	<p><%= t('view.tasklist') %></p>
	<% if flash[:noticeCreate] %>
	<p><%= flash[:noticeCreate] %></p>
	<% end %>
	<% if flash[:noticeEdit] %>
	<p><%= flash[:noticeEdit] %></p>
	<% end %>
	<% if flash[:noticeDelete] %>
	<p><%= flash[:noticeDelete] %></p>
	<% end %>	
	<p>
	<%= link_to "CREATE", new_task_path %><br />
    <%= form_tag(tasks_path, method: :get ) do %>
        TITLE is <%= text_field_tag :titleWord %>
        <%= submit_tag "SEARCH_TITLE" %><br />
    <% end %>
    <%= form_tag(tasks_path, method: :get ) do %>
        STATUS is <%= select_tag :statusWord , options_for_select({"未着手" => "未着手","着手中" => "着手中", "完了" => "完了"}) %>
        <%= submit_tag "SEARCH_STATUS"  %><br />
    <% end %>
    <%= form_tag(tasks_path, method: :get ) do %>
        <%= submit_tag "ALL_LIST" %><br />
    <% end %>

	<% @tasks.each do |task| %>
	<h5><%= t('view.taskname') %><%= task.title %>
    <%= t('view.statusId') %><%= task.status %>
    <%= t('view.priority') %><%= task.priority %>
    <%= t('view.createdAt') %><%= task.created_at %>
    <%= t('view.line') %><%= task.line %>
	<%= link_to "DETAIL", task_path(id: task.id)%></h5>
	<% end %>
  <%= paginate @tasks %>
  <%= link_to "SORT BY DEAD_LINE",tasks_path(sort: 'line')  %><br />
  <%= link_to "SORT BY PRIORITY",tasks_path(sort: 'priority')  %><br />
  <%= link_to "SORT BY CREATED_AT_DESC",tasks_path(sort: 'created_at DESC')  %><br />
</p>