<h1>CREATE</h1>
<%=t('view.create')  %><br />

<%= form_for @task do |f| %>
  <%= f.label :title, t('view.taskname') %>
  <%= f.text_field :title %>
<br />
  <%= f.label :line, t('view.line') %>
  <%= f.text_field :line %>
<br />
  <%= f.label :memo, t('view.note') %>
  <%= f.text_field :memo %>
<br />
  <%= f.label :priority, t('view.priority') %>
 <%= f.select :priority , [["高", "高"], ["中", "中"], ["低", "低"]] %>
<br />
  <%= f.label :status, t('view.statusId') %>
  <%= f.select :status , [["未着手", "未着手"], ["着手中", "着手中"], ["完了", "完了"]] %>
<br />
  <%= f.label :labelId, t('view.labelId') %>
  <%= f.text_field :labelId %>
<br />
  <%= f.submit "CHECK" %>
<% end %>
  <% if @task.errors.any? %>
    <%= t('error.error1') %>
  <% end %>